# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~

# Environment
.env.local
